/* Products Page Styles */

.filters {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.filters .form-group {
    flex: 1;
    min-width: 200px;
}

.filters select {
    min-width: 150px;
}
